@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
body {
    font-family: "Press Start 2P";
    color: white;
    background-color: #2d3436;
}

h1,
p {
    color: white;
}

.bilgi {
    font-size: small;
    margin-right: 20px;
}

.btn,
.div {
    background-color: white;
}

.div {
    color: #2d3436;
    font-size: 60px;
    width: 150px;
    height: 100px;
    padding: 8px;
    text-align: center;
    margin: auto;
}

.input {
    /* background-color:#2d3436; */
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: xx-large;
    border-color: white;
    border-width: 5px;
    text-align: center;
    margin-left: 100px;
    display: block;
    width: 270px;
    height: 150px;
    /* display:block >> input ile buttonun alt alta durmasini saglar  */
}

.check {
    width: 300px;
    margin-left: 85px;
}

.tekrar {
    width: 150px;
    font-size: large;
    margin-left: 30px;
}

.sol {
    margin-top: 100px;
    float: left;
    margin-left: 250px;
}

.sag {
    margin-top: 100px;
    float: right;
    margin-right: 200;
}

.puan {
    margin-top: 100px;
}